/*
    CSS Styles for WebForm1
    Christopher Dickerson
*/

body{
    text-align: center;
    align-content: center;
    align-self: center;
}

body h1{
    font: bold 50px arial;
}

body div{
    font: 35px arial;
}


